* {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
	color: rgb(15,15,15);
	font-family: sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1;
	font-size: 14px;
}
html, body {
	width: 100%;
	height: 100%;
}
div.centralizado {
	width: 100%;
	margin: auto;
	padding: 0px;
	position: relative;
	height: 100%;
	min-height: 100%;
}

/* ----------- Button ----------- */
button {
	padding: 5px 13px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
}
button.green {
	color: white;
	background-color: rgb(40, 170, 70);
	background-image: -webkit-linear-gradient(top, rgb(40, 170, 70), rgb(10, 140, 30));
	background-image: -moz-linear-gradient(top, rgb(40, 170, 70), rgb(10, 140, 30));
    background-image: -o-linear-gradient(top, rgb(40, 170, 70), rgb(10, 140, 30));
	border-color: rgb(0, 130, 20);
	text-shadow: 1px 1px black;
}
button.green:hover {
	background-color: rgb(20, 160, 60);
	background-image: -webkit-linear-gradient(top, rgb(20, 160, 60), rgb(0, 130, 30));
	background-image: -moz-linear-gradient(top, rgb(20, 160, 60), rgb(0, 130, 30));
    background-image: -o-linear-gradient(top, rgb(20, 160, 60), rgb(0, 130, 30));
	border-color: rgb(20, 100, 20);
}
button.black {
	color: white;
	background-color: rgb(40, 40, 40);
	background-image: -webkit-linear-gradient(top, rgb(50, 50, 50), rgb(0, 0, 0));
	background-image: -moz-linear-gradient(top, rgb(50, 50, 50), rgb(0, 0, 0));
    background-image: -o-linear-gradient(top, rgb(50, 50, 50), rgb(0, 0, 0));
	border-color: rgb(10,10,10);
	text-shadow: 1px 1px black;
}
button.black:hover {
	background-color: rgb(0, 106, 194);
	background-image: -webkit-linear-gradient(top, rgb(30, 30, 30), rgb(0, 0, 0));
	background-image: -moz-linear-gradient(top, rgb(30, 30, 30), rgb(0, 0, 0));
    background-image: -o-linear-gradient(top, rgb(30, 30, 30), rgb(0, 0, 0));
	border-color: rgb(10,10,10);
}

/* ----------- Input ----------- */
input[type='number'] {
	width: 80px;
}
input[type='number'],
input[type='text'] {
	height: 20px;
	padding: 13px;
	border: 1px rgb(180,180,180) solid;
}
input[type='file'],
input[type='range'] {
	width: 41vw;
}
input[type='file']:disabled {
	color: rgb(130, 130, 130);
}
input[type='checkbox'] {
	width: 28px;
	height: 28px;
	cursor: pointer;
}

/* ----------- Input[range] ----------- */
input[type='range'] {
	-webkit-appearance: none;
	background-color: blue;
	margin: 10px 0;
	border-radius: 5px;
	height: 7px;
	cursor: pointer;
}
input[type=range]:focus {
	outline: none;
}
input[type='range']:disabled {
	-webkit-appearance: none;
	background-color: rgb(225, 225, 225);
	margin: 10px 0;
	border-radius: 5px;
	height: 7px;
	cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
	width: 10px;
	height: 23px;
	border: 1px solid #2497E3;
	background-color: #A1D0FF;
	-webkit-appearance: none;
	box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
	width: 10px;
	height: 23px;
	border: 1px solid #2497E3;
	background-color: #A1D0FF;
	-webkit-appearance: none;
	box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-moz-range-thumb {
	width: 10px;
	height: 23px;
	border: 1px solid #2497E3;
	background-color: #A1D0FF;
	-webkit-appearance: none;
	box-shadow: 0px 0px 0px #000000;
}
input[type=range]:disabled::-webkit-slider-thumb {
	background-color: rgb(225, 225, 225);
	border-color: rgb(190,190,190);
}
input[type=range]:disabled::-ms-thumb {
	background-color: rgb(225, 225, 225);
	border-color: rgb(190,190,190);
}
input[type=range]:disabled::-moz-range-thumb {
	background-color: rgb(225, 225, 225);
	border-color: rgb(190,190,190);
}

/* ----------- Header ----------- */
header {
	width: 100%;
	float: left;
	background-color: blue;
	border: 1px blue solid;
	position: fixed;
	z-index: 100;
}
header span {
	color: white;
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin: 18px 23px;
	text-shadow: 1px 1px 2px black;
}

/* ----------- Footer ----------- */
footer {
	width: 100vw;
	height: 60px;
	float: none;
	padding: 0px;
	position: fixed;
	bottom: 0;
	background-color: blue;
}
footer ul {
	width: 100%;
	height: 100%;
	float: left;
}
footer li {
	width: 50%;
	height: 100%;
	float: left;
	display: table;
}
footer input[type='button'] {
	width: 55px;
	height: 55px;
	border-radius: 30px;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
	margin-bottom: 35px;
	background-color: red;
	border-width: 0px;
	color: white;
	text-shadow: 1px 1px 2px black;
	cursor: pointer;
	position: absolute;
	right: 0;
	bottom: 40px;
}
footer a,
footer button {
	width: 100%;
	height: 60px;
	padding: 18px 23px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	background-color: blue;
	text-shadow: 1px 1px 2px black;
}
footer a {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
footer button {
	background-image: none;
	border-width: 0px;
	border-radius: 0px;
	margin: 0px;
	
}
footer button:hover {
	background-color: blue;
	background-image: none;
}

/* ----------- Section ----------- */
section {
	width: 100%;
	max-width: 100vw;
	float: left;
	padding: 0px 23px;
	margin-top: 20px;
}
section input {
	float: left;
}
section input[type='file'] {
	height: 25vh;
	padding-top: 2px;
}

/* ----------- Main ----------- */
main {
	width: 100%;
	min-height: 100%;
	padding-bottom: 80px;
	float: left;
	position: relative;
	padding-top: 50px;
}
main div {
	width: 100%;
	float: left;
	margin-top: 15px;
	display: table;
}
main div.titulo {
	width: 100%;
	float: left;
	border-bottom: 1px black solid;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
main label {
	width: 100vw;
	height: 27px;
	display: table-cell;
	vertical-align: middle;
}
main span.disabled {
	color: rgb(130, 130, 130);
}
main button {
	float: left;
	margin-left: 2vw;
}
main section div div {
	width: 42vw;
	margin: 0px;
}

/* ----------- Main.Index ----------- */
main.index table {
	width: 100%;
	border: 1px rgb(200,200,200) solid;
	border-collapse: collapse;
	margin-top: 12px;
}
main.index table td span {
	float: right;
}
main.index table th,
main.index table td {
	width: 20%;
	padding: 10px;
	border: 1px rgb(200,200,200) solid;
}
main.index table th span,
main.index table td span {
	font-size: 12px;
}
main.index table th {
	text-align: left;
	background-color: rgb(230,230,230);
}
main.index table tr.head th {
	text-align: center;
}
main.index table td button {
	float: right;
}
main.index table td input {
	width: 100%;
}
main.index table.tarifa td {
	width: 50%;
}

/* ----------- Main.Manual ----------- */
main.manual section div div {
	width: 55vw;
	margin: 0px;
	float: right;
}
main.manual section button,
main.manual section input {
	float: right;
}
main.manual section.carrinho button div.desenho_triangulo_direita {
	width: 0px;
	height: 0px;
	border-left: 4vw white solid;
	border-top: 2vw transparent solid;
	border-bottom: 2vw transparent solid;
	margin: 1vw;
}
main.manual section.carrinho button div.desenho_triangulo_esquerda {
	width: 0px;
	height: 0px;
	border-right: 4vw white solid;
	border-top: 2vw transparent solid;
	border-bottom: 2vw transparent solid;
	margin: 1vw;
}
main.manual section.carrinho button div.desenho_quadrado {
	width: 4vw;
	height: 4vw;
	background-color: white;
	margin: 1vw;
}
main.manual section.som button {
	max-width: 
}

/* ----------- main.horarios ----------- */
main.horarios {
	padding-bottom: 60px;
}
main.horarios section {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
main.horarios section table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 90px;
}
main.horarios section td {
	padding: 30px 10px;
	border-bottom: 1px blue solid;
}
main.horarios section td.horario {
	text-align: center;
}
main.horarios section td.horario span {
	color: rgb(0,0,220);
	font-size: 24px;
	font-family: sans-serif;
	font-weight: bold;
}
main.horarios section td.nome a {
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(255,255,255);
}
main.horarios section td.nome a:hover {
	border-bottom-color: black;
}
main.horarios section td.nome ul {
	width: 100%;
	float: left;
}
main.horarios section td.nome ul li {
	width: auto;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
main.horarios section td.nome li span {
	color: rgb(170,170,170);
	font-weight: normal;
}
main.horarios section td.nome li.bold span {
	color: darkblue;
	font-weight: bold;
}
main.horarios section td.status input {
	position: relative;
	margin: auto;
}
main.horarios section tr.disabled td.horario span,
main.horarios section tr.disabled td.nome span,
main.horarios section tr.disabled td.nome a {
	color: rgb(170,170,170);
}
main.horarios section tr.disabled td.nome li.bold span {
	color: rgb(120,120,120);	
}

/* ----------- Main.Evento ----------- */
main.evento section input.number {
	width: 17vw;
	vertical-align: bottom;
	margin-right: 10px;
}
main.evento section.evento input.number {
	vertical-align: middle;
	margin-right: 0px;
}
main.evento section.evento input#nome {
	width: 41vw;
}
main.evento section.evento ul label {
	width: 30vw;
	height: 37px;
	float: left;
}
main.evento section.evento ul {
	width: 100%;
	float: left;
}
main.evento section.evento li {
	width: 100%;
	float: left;
	margin: 5px 0px;
}
main.evento section.evento input {
	float: right;
}
main.evento section div.hora div {
	float: right;
}
main.evento section div.hora div div {
	width: auto;
}
main.evento section div.hora span {
	width: 7vw;
	text-align: center;
	vertical-align: middle;
}
main.evento section div.tempo span,
main.evento section div.distancia span {
	margin-left: 10px;
}
main.evento section div div span {
	height: 28px;
	float: none;
	display: table-cell;
	vertical-align: bottom;
}


