* {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
	color: rgb(15,15,15);
	font-family: Arial;
	font-size: 15px;
}
div.centralizado {
	width: 470px;
	margin: auto;
	padding: 0px 5px;
}
/* ----------- Input ----------- */
input[type='file'],
input[type='range'] {
	width: 286px;
}
input[type='number'] {
	width: 80px;
}
input[type='number'],
input[type='text'] {
	height: 20px;
	padding: 3px 5px;
	border-width: 2px;
}

/* ----------- Input[range] ----------- */
input[type='range'] {
	-webkit-appearance: none;
	background-color: blue;
	margin: 10px 0;
	border-radius: 5px;
	height: 7px;
	cursor: pointer;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-thumb {
	width: 10px;
	height: 23px;
	border: 1px solid #2497E3;
	background-color: #A1D0FF;
	-webkit-appearance: none;
	box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
	width: 10px;
	height: 23px;
	border: 1px solid #2497E3;
	background-color: #A1D0FF;
	-webkit-appearance: none;
	box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-moz-range-thumb {
	width: 10px;
	height: 23px;
	border: 1px solid #2497E3;
	background-color: #A1D0FF;
	-webkit-appearance: none;
	box-shadow: 0px 0px 0px #000000;
}

/* ----------- Button ----------- */
button {
	padding: 7px 14px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
}
button[type="submit"],
button.active,
button.green {
	color: white;
	background-color: rgb(40, 170, 70);
	background-image: -webkit-linear-gradient(top, rgb(40, 170, 70), rgb(10, 140, 30));
	background-image: -moz-linear-gradient(top, rgb(40, 170, 70), rgb(10, 140, 30));
    background-image: -o-linear-gradient(top, rgb(40, 170, 70), rgb(10, 140, 30));
	border-color: rgb(0, 130, 20);
	text-shadow: 1px 1px black;
}
button[type="submit"]:hover,
button.active:hover,
button.green:hover {
	background-color: rgb(20, 160, 60);
	background-image: -webkit-linear-gradient(top, rgb(20, 160, 60), rgb(0, 130, 30));
	background-image: -moz-linear-gradient(top, rgb(20, 160, 60), rgb(0, 130, 30));
    background-image: -o-linear-gradient(top, rgb(20, 160, 60), rgb(0, 130, 30));
	border-color: rgb(20, 100, 20);
}

button[type="reset"],
button.black {
	color: white;
	background-color: rgb(40, 40, 40);
	background-image: -webkit-linear-gradient(top, rgb(50, 50, 50), rgb(0, 0, 0));
	background-image: -moz-linear-gradient(top, rgb(50, 50, 50), rgb(0, 0, 0));
    background-image: -o-linear-gradient(top, rgb(50, 50, 50), rgb(0, 0, 0));
	border-color: rgb(10,10,10);
	text-shadow: 1px 1px black;
}
button[type="reset"]:hover,
button.black:hover {
	background-color: rgb(0, 106, 194);
	background-image: -webkit-linear-gradient(top, rgb(30, 30, 30), rgb(0, 0, 0));
	background-image: -moz-linear-gradient(top, rgb(30, 30, 30), rgb(0, 0, 0));
    background-image: -o-linear-gradient(top, rgb(30, 30, 30), rgb(0, 0, 0));
	border-color: rgb(10,10,10);
}

button.disable {
	color: white;
	background-color: rgb(200, 64, 0);
	background-image: -webkit-linear-gradient(top, rgb(200, 64, 0), rgb(180, 44, 0));
	background-image: -moz-linear-gradient(top, rgb(200, 64, 0), rgb(180, 44, 0));
    background-image: -o-linear-gradient(top, rgb(200, 64, 0), rgb(180, 44, 0));
	border-color: rgb(150, 20, 20);
	text-shadow: 1px 1px black;
}
button.disable:hover {
	background-color: rgb(200, 64, 0);
	background-image: -webkit-linear-gradient(top, rgb(190, 54, 0), rgb(170, 34, 0));
	background-image: -moz-linear-gradient(top, rgb(190, 54, 0), rgb(170, 34, 0));
    background-image: -o-linear-gradient(top, rgb(190, 54, 0), rgb(170, 34, 0));
	border-color: rgb(140, 10, 10);
}

/* ----------- Header ----------- */
header {
	width: 468px;
	float: left;
	background-color: blue;
	border: 1px blue solid;
}
header span {
	color: white;
	float: left;
	font-weight: bold;
	margin: 23px;
}

/* ----------- Main ----------- */
main {
	width: 468px;
	min-height: 732px;
	padding-bottom: 60px;
	float: left;
	border: 1px blue solid;
	position: relative;
}
main section {
	width: 422px;
	float: left;
	padding: 0px 23px;
	margin-top: 20px;
}
main div {
	width: 100%;
	float: left;
	margin-top: 15px;
}
main section div div {
	width: auto;
	display: table;
	margin: 0px;
}
main div.titulo {
	width: 100%;
	float: left;
	border-bottom: 1px black solid;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
main label {
	width: 130px;
	height: 27px;
	display: table-cell;
	vertical-align: middle;
}
main button {
	width: 91px;
	float: left;
	margin-right: 5px;
	font-size: 14px;
}
main section input {
	float: left;
}
main section input[type='rangee'] {
	height: 27px;
}
main section input[type='file'] {
	height: 25px;
	padding-top: 2px;
}
main section.menu {
	width: 100%;
	float: none;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 15px;
	position: absolute;
	bottom: 0;
}
main section.menu a {
	width: 50%;
	padding: 13px 0px;
	float: left;
	color: white;
	font-weight: bold;
	text-align: center;
	background-color: blue;
}

/* ----------- Main.Listar_Evento ----------- */
main.listar_evento section {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
main.listar_evento section table {
	width: 100%;
	border-collapse: collapse;
}
main.listar_evento section table td {
	padding: 20px 0px;
	border-bottom: 1px blue solid;
}
main.listar_evento section table td.horario {
	width: 40%;
	text-align: center;
}
main.listar_evento section table td.horario span {
	font-size: 24px;
}
main.listar_evento section table td.nome {
	width: 50%;
}
main.listar_evento section table td.nome span {
	font-size: 16px;
}
main.listar_evento section table td.status {
	width: 10%;
}
main.listar_evento section table td.status input {
	position: relative;
	margin: auto;
}
main.listar_evento section table ul {
	width: 100%;
	float: left;
}
main.listar_evento section table ul li {
	width: auto;
	float: left;
	padding: 5px 0px;
	margin-right: 10px;
}
main.listar_evento section table td.nome ul li span {
	font-size: 14px;
}

/* ----------- Main.Evento ----------- */

main.evento section.evento ul,
main.evento section.evento li {
	width: 100%;
	float: left;
}

main.evento section div.hora span {
	width: 25px;
	text-align: center;
}
main.evento section div.tempo span,
main.evento section div.distancia span {
	margin-left: 10px;
}


main.evento section div div span {
	float: none;
	display: table-cell;
	vertical-align: middle;
}
main.evento section div div span,
main.evento section input[type='checkbox'] {
	height: 27px;
}



main.evento section.som input[type='number'],
main.evento section.carrinho input[type='number'] {
	vertical-align: bottom;
	margin-right: 10px;
}